 <!-- Navigation-->
 <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
  <div class="container px-5">
      <a class="navbar-brand" href="index.html"><span class="fw-bolder text-primary">Start Bootstrap</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
              <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="join">Join</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="partners">Partners</a></li>
          </ul>
      </div>
  </div>
</nav>
<router-outlet></router-outlet>
<!-- Masthead-->
<header class="masthead">
  <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
      <div class="d-flex justify-content-center">
          <div class="text-center">
              <h1 class="mx-auto my-0 text-uppercase">Grayscale</h1>
              <h2 class="text-white-50 mx-auto mt-2 mb-5">A free, responsive, one page Bootstrap theme created by Start Bootstrap.</h2>
              <a class="btn btn-primary" href="#about">Get Started</a>
          </div>
      </div>
  </div>
</header>
<!-- Footer-->
<footer class="bg-white py-4 mt-auto">
  <div class="container px-5">
      <div class="row align-items-center justify-content-between flex-column flex-sm-row">
          <div class="col-auto"><div class="small m-0">Copyright &copy; Your Website 2023</div></div>
          <div class="col-auto">
              <a class="small" href="#!">Privacy</a>
              <span class="mx-1">&middot;</span>
              <a class="small" href="#!">Terms</a>
              <span class="mx-1">&middot;</span>
              <a class="small" href="#!">Contact</a>
          </div>
      </div>
  </div>
</footer>
