<div class="container"> 
  <p>Today's date (Default): {{presentDate}}</p>
  <p>Short Date: {{presentDate | date: 'shortDate' }}</p>
  <p>Medium Date: {{presentDate | date: 'mediumDate'}}</p>
  <p>Long Date: {{presentDate | date: 'longDate'}}</p>
</div>

<div class="container">
<h2>Date with Parameters</h2>
<p>This is a short date: {{presentDate | date: 'shortDate' }} <br/> This indicates the hours and minutes: {{presentDate | date: 'h:mm'}}</p>
  <p>This line shows the full date: {{presentDate | date: 'fullDate' }} <br/></p>
  <p>This will show a formatted date: {{presentDate | date: 'M/dd/yyyy'}} <br/></p>
</div>

<div class="container">
<h2>Chained Pipes</h2>
  <p>Date with uppercase: {{presentDate | date: 'fullDate' | uppercase}} <br/></p>
  <p> Seconds changing in Time: {{ time$ | async | date: 'mediumTime'}} <br/></p>
</div>

<div class="container">
<h2>Json Pipe</h2>
  <p>Without JSON pipe:</p>
  <pre>{{ object }}</pre>
  <p>With JSON pipe:</p>
  <pre>{{ object | json }}</pre>
</div>

<div class="container">
<h2> Currency Pipe </h2>
<p>{{ price | currency:'':true}}</p>
<p>{{ price | currency: 'INR' }}</p>
<p>{{ price | currency: 'PHP' }}</p>
</div>

<div class="container">
<h2>Decimal Pipe</h2>
<p>{{decimalNum1 | number}} </p>
<p>{{decimalNum2 | number}} </p>
</div>

<div class="container">
<h2>Percent Pipe</h2>
  <!--output '26%'-->
  <p>A: {{ a | percent }}</p>

  <!--output '0,134.950%'-->
  <p>B: {{ b | percent: '4.3-5' }}</p>
</div>

<div class="container"> 
<h2>Slice Pipe</h2>
  <h4>Start index:- {{Fruits | slice: 2}}</h4>
  <h4>Start and end index: {{Fruits | slice: 1:4}}</h4>
  <h5>Negative index:- {{Fruits | slice:-2}}</h5>
  <h6>Negative start and end index: {{Fruits | slice:-4:-2}}</h6>
</div>